<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>WebSiteController</servlet-name>
    <servlet-class>com.jd.controller.WebSiteController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewCategoryController</servlet-name>
    <servlet-class>com.jd.controller.NewCategoryController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexController</servlet-name>
    <servlet-class>com.jd.controller.front.IndexController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewController</servlet-name>
    <servlet-class>com.jd.controller.NewController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadsHelper</servlet-name>
    <servlet-class>com.jd.util.UploadHelper</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>com.jd.controller.AdminController</servlet-class>
  </servlet>
 <servlet>
    <servlet-name>NewFrontController</servlet-name>
    <servlet-class>com.jd.controller.front.NewFrontController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>WebSiteController</servlet-name>
    <url-pattern>/WebSiteController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewCategoryController</servlet-name>
    <url-pattern>/NewCategoryController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexController</servlet-name>
    <url-pattern>/IndexController</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>NewFrontController</servlet-name>
    <url-pattern>/NewFrontController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadsHelper</servlet-name>
    <url-pattern>/UploadsHelper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>NewController</servlet-name>
    <url-pattern>/NewController</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>company.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
